{% if site.social.twitter %}
<div class="uk-first-column">
    <a href="{{ site.social.twitter }}" class="uk-icon-link uk-icon" target="_blank"><img src="/uploads/social/twitter.svg" alt="rss" style="width: 20px; height: 20px;"></a>
</div>
{% endif %}
{% if site.social.facebook %}
<div>
    <a href="{{ site.social.facebook }}" class="uk-icon-link uk-icon" target="_blank"><img src="/uploads/social/facebook.svg" alt="rss" style="width: 20px; height: 20px;"></a>
</div>
{% endif %}
{% if site.social.youtube %}
<div>
    <a href="{{ site.social.youtube }}" class="uk-icon-link uk-icon" target="_blank"><img src="/uploads/social/youtube.svg" alt="rss" style="width: 20px; height: 20px;"></a>
</div>
{% endif %}
{% if site.social.github %}
<div>
    <a href="{{ site.social.github }}" class="uk-icon-link uk-icon" target="_blank"><img src="/uploads/social/github.svg" alt="rss" style="width: 20px; height: 20px;"></a>
</div>
{% endif %}
{% if site.social.rss %}
<div>
    <a href="{{ site.social.rss }}" class="uk-icon-link uk-icon" target="_blank"><img src="/uploads/social/rss.svg" alt="rss" style="width: 20px; height: 20px;"></a>
</div>
{% endif %}
{% if site.social.slack %}
<div>
    <a href="{{ site.social.slack }}" class="uk-icon-link uk-icon" target="_blank"><img src="/uploads/social/slack.svg" alt="slack" style="width: 20px; height: 20px;"></a>
</div>
{% endif %}
{% if site.social.email %}
<div>
    <a href="mailto:{{ site.social.email }}" class="uk-icon-link uk-icon" target="_blank"><img src="/uploads/social/email.svg" alt="rss" style="width: 20px; height: 20px;"></a>
</div>
{% endif %}
